*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial,sans-serif;
}


body{

background:#0f172a;
color:white;
line-height:1.6;

}



header{

position:fixed;
top:0;
width:100%;
background:#111827;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
z-index:1000;

}


header h2{

color:#38bdf8;

}



nav{

display:flex;
gap:20px;
align-items:center;

}


nav a{

color:white;
text-decoration:none;

}


#logoutBtn{

background:#ef4444;
border:none;
color:white;
padding:8px 15px;
border-radius:8px;
cursor:pointer;

}





section{

padding:100px 8%;

}





.hero{

min-height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
gap:40px;

}



.hero h1{

font-size:60px;
color:#38bdf8;

}



.hero img{

width:350px;
border-radius:20px;

}





.btn,
button{

background:#38bdf8;
color:black;
border:none;
padding:12px 25px;
border-radius:8px;
cursor:pointer;
text-decoration:none;

}







.cards{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}



.cards div{

background:#1e293b;
padding:30px;
border-radius:15px;
text-align:center;

}





form{

max-width:500px;
display:flex;
flex-direction:column;
gap:15px;

}



input,
textarea,
select{


padding:15px;
border-radius:10px;
border:none;
background:#1e293b;
color:white;

}



textarea{

height:150px;

}




#successPopup{

display:none;
background:#16a34a;
padding:15px;
border-radius:10px;
margin-bottom:20px;

}




footer{

text-align:center;
background:#111827;
padding:30px;

}







.auth-box{

width:90%;
max-width:400px;
margin:100px auto;
background:#1e293b;
padding:40px;
border-radius:20px;

}



.auth-box input{

width:100%;
margin:10px 0;

}



.auth-box button{

width:100%;

}



.auth-box span{

color:#38bdf8;
cursor:pointer;

}






@media(max-width:800px){


.hero{

flex-direction:column;
text-align:center;

}



.hero h1{

font-size:40px;

}



nav{

display:none;

}


header{

padding:20px;

}


}
